<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% block stylesheets_assetic %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head_javascripts %}
            {% block head_javascripts_assetic %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block page_header %}{% endblock %}
        </header>

        {% block page_body %}{% endblock %}

        <footer>
            {% block page_footer %}{% endblock %}
        </footer>

        {% block foot_javascripts %}
            {% block foot_javascripts_assetic %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
